<div class="container">
  <app-sidebar></app-sidebar>
  <div class="right-container">
    <h3>My Page</h3>
    <div class="myPage">
      <div class="myPage__left">
        <div class="myPage__myList">
          <div class="myPage__head head-with-line">My List</div>
          <div class="myPage__myListWrap">
            <div class="myPage__myListRow">
              <div class="catalog__item">
                <div class="catalog__photo"></div>
                <p class="catalog__title">Brass Monkey</p>
                <p class="catalog__text">Pole Dance</p>
                <div class="catalog__link">
                  <a>See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
              <div class="catalog__item">
                <div class="catalog__photo"></div>
                <p class="catalog__title">Brass Monkey</p>
                <p class="catalog__text">Pole Dance</p>
                <div class="catalog__link">
                  <a>See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
              <div class="catalog__item">
                <div class="catalog__photo"></div>
                <p class="catalog__title">Brass Monkey</p>
                <p class="catalog__text">Pole Dance</p>
                <div class="catalog__link">
                  <a>See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
          </div>
          <button class="myPage__btn primary-btn">See all</button>
        </div>
        <div class="myPage__myCombos">
          <div class="myPage__head head-with-line">My Combos</div>
          <div class="myPage__myListRowXWrap">
            <div class="myPage__myListRow">
              <div class="combo__item">
                <div class="combo__photos">
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                </div>
                <div class="combo__info">
                  <p class="combo__title">Brass Monkey</p>
                  <p class="combo__text">Pole Dance</p>
                </div>
              </div>
              <div class="combo__item">
                <div class="combo__photos">
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                </div>
                <div class="combo__info">
                  <p class="combo__title">Brass Monkey</p>
                  <p class="combo__text">Pole Dance</p>
                </div>
              </div>
              <div class="combo__item">
                <div class="combo__photos">
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                </div>
                <div class="combo__info">
                  <p class="combo__title">Brass Monkey</p>
                  <p class="combo__text">Pole Dance</p>
                </div>
              </div>
              <div class="combo__item">
                <div class="combo__photos">
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                </div>
                <div class="combo__info">
                  <p class="combo__title">Brass Monkey</p>
                  <p class="combo__text">Pole Dance</p>
                </div>
              </div>
            </div>
          </div>
          <button class="myPage__btn primary-btn" routerLink="/create-combo">Create Combo</button>
        </div>
      </div>
      <div class="myPage__right">
        <div class="myPage__head head-with-line">My Wishlist</div>
        <div class="myPage__myListRowYWrap">
          <div class="myPage__myListRowY">
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="myPage__btn primary-btn">See all</button>
      </div>
    </div>
  </div>
</div>

