<div class="container">
  <app-sidebar [ngClass]="{'opened': isMenuOpened}"></app-sidebar>
  <div class="right-container">
    <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
    <h3>My Page</h3>
    <div class="myPage">
      <div class="myPage__left">
        <div class="myPage__myList">
          <div class="myPage__head head-with-line">My List</div>
          <div class="myPage__myListWrap">
            <div class="myPage__myListRow">
              <div class="catalog__item" *ngFor="let element of myElements;">
                <div class="catalog__photo" [style]="{'background-image': 'url(' + element.photo + ')'}"></div>
                <p class="catalog__title">{{element?.name}}</p>
                <p class="catalog__text">{{element?.category}}</p>
                <div class="catalog__link">
                  <a [routerLink]="['/catalog', element.id]">See Element</a>
                  <div>{{element?.level}}</div>
                </div>
              </div>
            </div>
          </div>
          <button role="button" class="myPage__btn primary-btn">See all</button>
        </div>
        <div class="myPage__myCombos">
          <div class="myPage__head head-with-line">My Combos</div>
          <div class="myPage__myListRowXWrap">
            <div class="myPage__myListRow">
              <div class="combo__item" *ngFor="let item of myCombos;">
                <div class="combo__photos">
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                  <div class="combo__photo"></div>
                </div>
                <div class="combo__info">
                  <p class="combo__title">{{item.name}}</p>
                  <p class="combo__text">{{item.category}}</p>
                </div>
              </div>
            </div>
          </div>
          <button role="button" class="myPage__btn primary-btn" routerLink="/create-combo">Create Combo</button>
        </div>
      </div>
      <div class="myPage__right">
        <div class="myPage__head head-with-line">My Wishlist</div>
        <div class="myPage__myListRowYWrap">
          <div class="myPage__myListRowY">
            <div class="wishlist__item" *ngFor="let item of myWishlist;">
              <div class="wishlist__photo" [style]="{'background-image': 'url(' + item.photo + ')'}"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">{{item.name}}</p>
                <p class="wishlist__text">{{item.category}}</p>
                <div class="wishlist__link">
                  <a [routerLink]="['/catalog', item.id]">See Element</a>
                  <div>{{item.level}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button role="button" class="myPage__btn primary-btn">See all</button>
      </div>
    </div>
  </div>
</div>

