<div class="mal-container">
  <app-sidebar [ngClass]="{'opened': isMenuOpened}"></app-sidebar>
  <div class="right-container">
    <div class="createCombo__header">
      <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
      <h3>Create Combo</h3>
    </div>
    <div class="createCombo__mobileHeader">
      <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
      <h3>Create Combo</h3>
    </div>
    <div class="createCombo">
      <div class="createCombo__left">
        <app-catalog-block [items]="myElements"></app-catalog-block>
      </div>
      <div class="createCombo__right">
        <mat-form-field class="example-full-width">
          <mat-label>Combo Name</mat-label>
          <input matInput [formControl]="comboName" placeholder="Enter Combo Name">
        </mat-form-field>
        <div class="createCombo__text">Elements in combo: </div>
        <div class="myPage__myListRowYWrap">
          <div class="myPage__myListRowY">
            <div class="no-items" *ngIf="elementsInCombo.length === 0">Click on element in left catalog to add it to combo </div>
            <div class="wishlist__item" *ngFor="let element of elementsInCombo;">
              <div class="wishlist__photo"  [style]="{'background-image': 'url(' + element.photo + ')'}"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">{{element?.name}}</p>
                <p class="wishlist__text">{{element?.category}}</p>
                <div class="wishlist__link">
                  <a [routerLink]="['/catalog', element.catalogElementId]">See Element</a>
                  <div>{{element?.level}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button role="button" (click)="addCombo()" class="myPage__btn primary-btn">Create Combo</button>
      </div>
    </div>
  </div>
</div>


