.createCombo {
  display: flex;
  height: 100%;
  &__left {
    width: 60%;
  }
  &__right {
    width: 38%;
    display: flex;
    flex-direction: column;
  }

  input.mat-input-element {
    font-size: 22px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 20px;
  }
  &__text {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #23468C;
    text-transform: uppercase;
  }
  &__mobileHeader {
    display: none;
    background-color: white;
    position: fixed;
  }
}




.myPage {
  display: flex;
  &__myListRowYWrap {
    width: 100%;
    height: 38%;
    overflow-y: scroll;
  }
  &__myListRowY {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  &__btn {
    align-self: flex-end;
    margin-top: 30px;
  }
}

.wishlist {
  &__item {
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 0 5px 1px #c1c1c1;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    width: 100%;
  }
  &__photo {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: darkcyan;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
  }
  &__info {
    width: 55%;
  }

  &__title {
    color: #23468C;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__text {
    color: #9da4b9;
    font-size: 13px;
    margin-bottom: 0;
  }
  &__link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    a {
      color: #23468C;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
    }
    div {
      color: rgba(35, 70, 140, 0.5);
    }
  }
}
@media only screen and (max-width: 767px) {
  .myPage__myListRowYWrap {
    max-height: 200px;
    height: unset;
  }
  .right-container {
    padding: 70px 20px 0 20px;
    height: unset;
  }
  .createCombo {
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    &__mobileHeader {
      display: flex;
      background-color: white;
      position: fixed;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0px;
      top: 0;
      z-index: 100;
      h3 {
        margin-bottom: 0;
        margin-right: 44px;
      }
      .menuIcon {
        position: static;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &__header {
      display: none;
    }
    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
.createCombo .myPage__myListRowYWrap {
  height: 62%;
}
