<div *ngIf="!loading" class="landing-container">
   <div  class="landing">
      <header>
          <div class="logo">
            <img src="../../assets/logo_blue.png"/>
          </div>
        <div class="headerMenu">
          <a class="headerMenu__item"
             [ngClass]="{'opened': item.opened}"
             (click)="goToBlock(ind)"
             *ngFor="let item of menuItems; let ind = index" [href]="item.link">{{item.name | translate}}</a>
          <div class="headerMenu__item lang-item" [ngClass]="{'opened': isLnagListOpened}">
            <div (click)="openLangList()">{{currentLang}}
            <img src="../../assets/downArr.svg"/>
            </div>
            <div class="lang-list">
              <div
                (click)="setCurrentLang(item.name, ind)"
                *ngFor="let item of langs; let ind = index"
                [ngClass]="{'selected': item.selected}"
              >{{item.name}}</div>
            </div>
          </div>

        </div>
        <div class="menu-icon" (click)="openMobileMenu()"><img src="../../assets/menuIcon.svg"></div>
      </header>
       <div [ngClass]="{'opened': isMobileMenuOpened}" class="mobile-menu-container">
          <div class="mobile-menu">
            <img (click)="closeMobileMenu()" src="../../assets/close.svg"/>
            <div class="logo"></div>
            <div class="mobile-menu-items">
              <a class="mobile-menu-item"
                 [ngClass]="{'opened': item.opened}"
                 (click)="goToBlock(ind)"
                 *ngFor="let item of menuItems; let ind = index" [href]="item.link">{{item.name | translate}}
              </a>
            </div>
            <div class="mobile-menu-langs">
              <div
                *ngFor="let item of langs; let ind = index"
                (click)="setCurrentLang(item.name, ind)"
                [ngClass]="{'selected': item.selected}"
              >{{item.name}}</div>
            </div>
          </div>
       </div>

     <section id="main" class="main-section">
        <div class="left">
          <h1>{{ 'malankaYourStudio' | translate }}</h1>
          <div class="main-btn">
            <div class="main-btn-circle">
              <a class="main-btn-inner" href="https://app.fitssey.com/malanka/frontoffice">
                <p>{{ 'reserve' | translate }}</p>
                <img src="../../assets/Arrow3.svg"/>
              </a>
            </div>

          </div>
        </div>

       <div class="right">
            <div class="photo-left">
              <img src="../../assets/main1.jpg"/>
            </div>
         <div class="photo-right">
           <img src="../../assets/img2-min.jpeg"/>
           <p>{{ 'waitForYouOnClasses' | translate }}</p>
         </div>
       </div>
       <div class="main-btn main-btn-mobile">
         <div class="main-btn-circle">
           <a class="main-btn-inner" href="https://app.fitssey.com/malanka/frontoffice">
             <p>{{ 'reserve' | translate }}</p>
             <img src="../../assets/Arrow3.svg"/>
           </a>
         </div>

       </div>
     </section>
     <section class="about-section">
       <div class="left">
         <div class="photo-left">
           <img src="../../assets/img3.jpeg"/>
         </div>
       </div>
       <div class="right">
         <div class="about-text">
           <h5>{{ 'aboutUs' | translate }}</h5>
           <p>{{ 'itsCozySpace' | translate }}</p>
         </div>

       </div>
     </section>
     <section class="advantages-section">
        <h5> {{ 'whyChooseUs' | translate }} </h5>
       <div class="advantages-row">
         <div class="advantages-item">
         <div  class="icon">
           <img src="../../assets/locat.svg"/>
         </div>
         <p>{{ 'goodLocation' | translate }}
         </p>
       </div>
         <div class="advantages-item">
           <div  class="icon">
             <img src="../../assets/people.svg"/>
           </div>
           <p>{{ 'smallGroups' | translate }}</p>
         </div>
         <div class="advantages-item">
           <div  class="icon">
             <img class="img_icon" src="../../assets/customer.png"/>
           </div>
           <p>{{ 'individual' | translate }}</p>
         </div>
         <div class="advantages-item">
           <div  class="icon">
             <img class="img_icon" src="../../assets/global.png"/>
           </div>
           <p>{{ 'classesLangs' | translate }}</p>
         </div>
       </div>
     </section>
     <section #classesBlock id="classes" class="classes-section">
       <h5> {{ 'directions' | translate }} </h5>
       <div class="classes-arrows">
         <img class="prev" (click)="prevClass()"  src="../../assets/Arrow5.svg"/>
         <img class="next" (click)="nextClass()" src="../../assets/Arrow5.svg"/>
       </div>
       <div class="classes-wrap">
         <div class="classes-row" [style]="{'transform': 'translateX(' + -classesTranslate + 'px)'}">
           <div class="classes-item" *ngFor="let item of classes;"
                >
             <img [src]="item.img"/>
             <p class="classes-title">{{item.name | translate}}</p>
             <div class="class-hover">
               <h6>{{item.name | translate}}</h6>
               <p>{{item.desc | translate}}</p>
             </div>
           </div>
         </div>
       </div>

     </section>
     <section id="instructors" class="instructors-section">
       <h5>{{ 'ourInstructors' | translate }}</h5>
       <div class="instructors-container">
         <div class="instructors-left">
            <div class="instructors-list">
                <div class="instructors-item"
                     [ngClass]="{'opened': instructor.id === currentInstr}"
                     *ngFor="let instructor of instructors;"
                     (click)="showInstructorInfo(instructor.id)">
                  <div class="instructors-item-line" [ngClass]="{'opened': instructor.id === currentInstr}">
                    <p>{{instructor.name}}</p>
                    <img *ngIf="instructor.id !== currentInstr" src="../../assets/plus.svg"/>
                    <img *ngIf="instructor.id === currentInstr" src="../../assets/line.svg"/>
                  </div>
                  <div class="mobile-instructor-info">
                    <div class="instructor-photo">
                      <img [src]="instructors[currentInstr].img"/>
                    </div>
                    <div class="instructors-right">
                      <h6>{{instructors[currentInstr].name}}</h6>
                      <p>{{instructors[currentInstr].title | translate}}</p>
                      <p>{{instructors[currentInstr].desc | translate}}</p>
                    </div>
                  </div>

                </div>

            </div>
           <div class="instructor-photo-text">
             <h6>{{instructors[currentInstr].name}}</h6>
             <div class="instructor-photo">
               <img [src]="instructors[currentInstr].img" (load)="onImageLoaded()"/>
             </div>
           </div>

       </div>
         <div class="instructors-right">
            <h6>{{instructors[currentInstr].name}}</h6>
           <p>{{instructors[currentInstr].title | translate}}</p>
             <p>{{instructors[currentInstr].desc | translate}}</p>
         </div>
       </div>
     </section>
     <section id="prices" class="prices-section">
       <h5>{{ 'prices' | translate }}</h5>
       <mat-tab-group>
         <mat-tab [label]="'monthPrices' | translate">
           <app-sales></app-sales>
           <div class="prices-items">
             <div class="prices-item" *ngFor="let item of pricesMonth;">
               <div class="prices-main">
                 <h6>{{item.name | translate}}</h6>
                 <div class="prices-text">
                   <p>{{item.desc1 | translate}}</p>
                   <p>{{item.desc2 | translate}}</p>
                 </div>
               </div>

               <div class="price">{{item.price}}zł</div>
             </div>
           </div>
         </mat-tab>
         <mat-tab [label]="'oncePrices' | translate">
           <app-sales></app-sales>
           <div class="prices-items">
             <div class="prices-item" *ngFor="let item of pricesOne;">
               <div class="prices-main">
                 <h6>{{item.name | translate}}</h6>
                 <div class="prices-text">
                   <p>{{item.desc1 | translate}}</p>
                   <p>{{item.desc2 | translate}}</p>
                 </div>
               </div>

               <div class="price">{{item.price}}zł</div>
             </div>
           </div>
         </mat-tab>
         <mat-tab [label]="'noLimit' | translate">
           <app-sales></app-sales>
           <div class="prices-items">
             <div class="prices-item" *ngFor="let item of pricesNoLimit;">
               <div class="prices-main">
                 <h6>{{item.name | translate}}</h6>
                 <div class="prices-text">
                   <p>{{item.desc1 | translate}}</p>
                   <p>{{item.desc2 | translate}}</p>
                 </div>
               </div>

               <div class="price">{{item.price}}zł</div>
             </div>
           </div>
         </mat-tab>
         <mat-tab label="Open Studio">
           <app-sales></app-sales>
           <div class="prices-items">
             <div class="prices-item" *ngFor="let item of pricesOpen;">
               <div class="prices-main">
                 <h6>{{item.name | translate}}</h6>
                 <div class="prices-text">
                   <p>{{item.desc1 | translate}}</p>
                   <p>{{item.desc2 | translate}}</p>
                 </div>
               </div>

               <div class="price">{{item.price}}zł</div>
             </div>
           </div>
         </mat-tab>
         <mat-tab [label]="'indivClasses' | translate">
           <app-sales></app-sales>
           <div class="prices-items">
             <div class="prices-item" *ngFor="let item of pricesIndiv;">
               <div class="prices-main">
                 <h6>{{item.name | translate}}</h6>
                 <div class="prices-text">
                   <p>{{item.desc1 | translate}}</p>
                   <p>{{item.desc2 | translate}}</p>
                 </div>
               </div>

               <div class="price">{{item.price}}zł</div>
             </div>
           </div>
         </mat-tab>
         <mat-tab [label]="'multisport' | translate">
           <app-sales></app-sales>
           <div class="prices-items">
             <div class="prices-item" *ngFor="let item of pricesMulti;">
               <div class="prices-main">
                 <h6>{{item.name | translate}}</h6>
                 <div class="prices-text">
                   <p>{{item.desc1 | translate}}</p>
                   <p>{{item.desc2 | translate}}</p>
                 </div>
               </div>

               <div class="price">{{item.price}}zł</div>
             </div>
           </div>
         </mat-tab>
       </mat-tab-group>

       <div class="prices-btns">
         <a href="https://app.fitssey.com/malanka/frontoffice/pricing/cards"  class="prices-btn white">{{ 'buyCard' | translate }}</a>
         <a href="https://app.fitssey.com/malanka/frontoffice"  class="prices-btn blue">{{ 'schedule' | translate }}</a>
       </div>
     </section>
     <section id="faq" class="faq-section" data-aos="fade-up" data-aos-once="true" data-aos-duration="3000">
       <h3>{{ 'faq' | translate }}</h3>
         <div class="faq-list">
           <div class="faq-item" *ngFor="let item of faqList; let ind = index"
                (click)="openFAQ(ind)"
                [ngClass]="{'opened': item.opened}">
             <div class="faq-itemMain">
               <p>{{item.question | translate}}</p>

               <img *ngIf="!item.opened" src="../../assets/plus.svg"/>
               <img *ngIf="item.opened" src="../../assets/close.svg"/>
             </div>
             <p class="faq-item-answ">
               {{item.answer | translate}}
             </p>
           </div>
         </div>
     </section>
   </div>
  <footer>
    <div class="footer-container">
      <div class="socials">
        <img src="../../assets/logo_transp.svg"/>
        <a href="https://www.instagram.com/malanka_studio/">Instagram</a>
        <a href="https://www.facebook.com/malanka.dance.studio">Facebook</a>
      </div>
      <div class="hours">
        <p>{{ 'workingTime' | translate }}</p>
        <p>{{ 'weekday' | translate }}</p>
        <p>{{ 'weekends' | translate }}</p>
      </div>
      <div class="address">
        <p>{{ 'address' | translate }} </p>
        <p>Kraków, ul. Czysta 14, local 1 31-121</p>
      </div>
    </div>
  </footer>
</div>

<ngx-spinner bdColor="#fff"
             size="medium"
             color="#1288CA"
             type="ball-scale-multiple"></ngx-spinner>
