<div class="container">
  <app-sidebar></app-sidebar>
  <div class="right-container create-class">
    <h3>Create Class</h3>
    <div class="createCombo">
      <div class="createCombo__left">
        <app-catalog-block></app-catalog-block>
      </div>
      <div class="createCombo__right">
        <mat-form-field class="example-full-width">
          <mat-label>Class Name</mat-label>
          <input matInput placeholder="Enter Combo Name">
        </mat-form-field>
        <div class="createCombo__text">Elements in Your Class: </div>
        <div class="myPage__myListRowYWrap">
          <div class="myPage__myListRowY">
            <div class="wishlist__item">
              <div class="wishlist__photo"></div>
              <div class="wishlist__info">
                <p class="wishlist__title">Brass Monkey</p>
                <p class="wishlist__text">Pole Dance</p>
                <div class="wishlist__link">
                  <a [routerLink]="'1'">See Element</a>
                  <div>Level 2</div>
                </div>
              </div>
              <div class="element-number">
                <div class="number">2</div>
              </div>
            </div>
          </div>
        </div>
        <button class="myPage__btn primary-btn">Create Class</button>
      </div>
    </div>
  </div>
</div>



