<div class="container">
  <app-sidebar></app-sidebar>
  <div class="right-container">
    <div class="element">
      <div class="element__media"></div>
      <div class="element__info">
        <div class="element__title">Brass Monkey</div>
        <div class="element__category">Pole Dance</div>
        <div class="element__level">Level 2</div>
        <div class="element__btns">
          <button class="element__btn wish">

            <span><mat-icon>favorite_border</mat-icon>
            Add to wishlist</span>
          </button>
          <button class="element__btn can">
            <span><mat-icon>done_all</mat-icon> Can do it</span>
          </button>
        </div>
      </div>
    </div>
    <div class="element__desc">
      <h3>Description: </h3>
      <div class="element__descWrap">
        <div class="element__descText">
          <p>1. Stand .... </p>
          <p>2. Make .... </p>
          <p>3. Stand .... </p>
          <p>4. Make .... </p>
          <p>5. Stand .... </p>
          <p>6. Make .... </p>
          <p>1. Stand .... </p>
          <p>2. Make .... </p>
          <p>3. Stand .... </p>
          <p>4. Make .... </p>
          <p>5. Stand .... </p>
          <p>6. Make .... </p>
        </div>
      </div>

    </div>

  </div>
</div>

