<div class="sidebar">
  <div>
    <div class="sidebar__top">
      <div class="sidebar__logo"></div>
      <div class="sidebar__img"></div>
      <div class="sidebar__title">Darya Lazouskaya</div>
      <div class="sidebar__button secondary-btn" routerLink="/cabinet">My page</div>
    </div>
    <div class="menu">
      <div class="menu__item" routerLink="/dashboard" routerLinkActive="active">Dashboard</div>
      <div class="menu__item" routerLink="/catalog" routerLinkActive="active">Catalog</div>
      <div class="menu__item" routerLink="/create-combo">Create Combo</div>
      <div class="menu__item" routerLink="/create-element">Add element</div>
      <div class="menu__item" routerLink="/create-class">Create Class ()</div>

    </div>

  </div>
  <div class="sidebar__footer">
    <div class="sidebar__footerItem" routerLink="/settings">Settings</div>
    <div class="sidebar__footerItem" (click)="logout()">Log Out</div>
  </div>

</div>
