<div class="catalog__filters">
  <div class="filtersRow">
    <div class="filtersRow__item">
      <p>Category: </p>
      <mat-form-field>
        <mat-select>
          <mat-option>All</mat-option>
          <mat-option>Pole Dance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filtersRow__item">
      <p>Level: </p>
      <mat-form-field>
        <mat-select>
          <mat-option>All</mat-option>
          <mat-option>Level Intro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="catalog">
  <div class="catalog__items">
    <div class="catalog__item">
      <div class="catalog__controls">
        <button class="catalog__btn wish"><mat-icon>favorite_border</mat-icon> Wishlist</button>
        <button class="catalog__btn can"><mat-icon>done_all</mat-icon> Can do it</button>
      </div>
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a [routerLink]="'1'">See Element</a>
        <div>Level 2</div>
      </div>
    </div>
    <div class="catalog__item checked">
      <div class="catalog__itemBg">
        <mat-icon class="add">library_add</mat-icon>
        <mat-icon class="remove">delete_forever</mat-icon>
      </div>
<!--      <div class="catalog__checkbox">-->

<!--      </div>-->
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a>See Element</a>
        <div>Level 2</div>
      </div>
    </div>
    <div class="catalog__item">
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a>See Element</a>
        <div>Level 2</div>
      </div>
    </div>
    <div class="catalog__item">
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a>See Element</a>
        <div>Level 2</div>
      </div>
    </div>
    <div class="catalog__item">
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a>See Element</a>
        <div>Level 2</div>
      </div>
    </div>
    <div class="catalog__item">
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a>See Element</a>
        <div>Level 2</div>
      </div>
    </div>
    <div class="catalog__item">
      <div class="catalog__photo"></div>
      <h5 class="catalog__title">Brass Monkey</h5>
      <p class="catalog__text">Pole Dance</p>
      <div class="catalog__link">
        <a>See Element</a>
        <div>Level 2</div>
      </div>
    </div>
  </div>
</div>
