<div class="container">
  <app-sidebar></app-sidebar>
  <div class="right-container">
    <h3>My Hours</h3>
    <div class="hours">
      <div class="filtersRow">
        <div class="filtersRow__item">
          <p>Date: </p>
          <mat-form-field>
            <mat-select>
              <mat-option>All</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filtersRow__item">
          <p>Classes: </p>
          <mat-form-field>
            <input matInput placeholder="Enter Classes Names">
          </mat-form-field>
        </div>

        <div class="filtersRow__item">
          <p>Hours: </p>
          <mat-form-field>
            <input matInput type="number">
          </mat-form-field>
        </div>
        <button class="primary-btn">Add Hours</button>
      </div>
      <div class="hours__listWrap">
        <div class="hours__list">
          <div class="hours__info">
            <div class="hours__infoMonth">May</div>
            <div class="hours__infoCount">23</div>
          </div>
          <div class="hours__listItems">
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
          </div>
        </div>
        <div class="hours__list">
          <div class="hours__info">
            <div class="hours__infoMonth">April</div>
            <div class="hours__infoCount">12</div>
          </div>
          <div class="hours__listItems">
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
