
<div class="mal-container">
  <app-sidebar [ngClass]="{'opened': isMenuOpened}"></app-sidebar>
  <div class="right-container">
    <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
    <h3>Create Element</h3>
    <form class="createElement__form" [formGroup]="createForm" enctype="multipart/form-data">
      <mat-form-field  class="example-full-width">
        <mat-label>Element Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Pole Dance">Pole Dance</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="example-full-width">
        <mat-label>Element Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter Combo Name">
      </mat-form-field>
      <mat-form-field  class="example-full-width">
        <mat-label>Element Level</mat-label>
        <mat-select formControlName="level">
          <mat-option value="Level Intro">Level Intro</mat-option>
          <mat-option value="Level 0">Level 0</mat-option>
          <mat-option value="Level 1">Level 1</mat-option>
          <mat-option value="Level 2">Level 2</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="desc-list">
        <div class="desc-step" *ngFor="let step of steps; let ind = index">
          <div class="desc-step-ind">{{ind + 1}}</div>
          <p>{{step}}</p>

        </div>
      </div>
      <mat-form-field class="example-full-width descri">

        <mat-label>Element description</mat-label>
<!--        <input  matInput placeholder="Enter Description" formControlName="desc" >-->

        <textarea matInput
                  cdkTextareaAutosize
                  formControlName="desc"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <button (click)="addStep()" class="third-btn">Add step</button>
      <div class="example-full-width">
        <mat-label>Media</mat-label>
      </div>
      <div class="createElement__mediaRow">
        <app-file-upload formControlName="image" [inpName]="'image'" [progress]="progress"></app-file-upload>
        <app-file-upload formControlName="video" [inpName]="'video'" [progress]="progress"></app-file-upload>
      </div>
      <button role="button" class="primary-btn" (click)="createElement()">Create Element</button>
    </form>
  </div>
</div>
