<div class="container">
  <app-sidebar [ngClass]="{'opened': isMenuOpened}"></app-sidebar>
  <div class="left-container">
    <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
    <h3>Dashboard</h3>
    <div class="left-inner">
      <div class="progressBlock">
        <div class="progressBlock__title">Your Progress</div>
        <div class="progressBlock__items">
          <div class="progressBlock__item">
            <p class="progressBlock__head">{{levelIntroCount}}/{{allLevelIntroCount}}</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level Intro )</p>
          </div>
          <div class="progressBlock__item">
            <p class="progressBlock__head">{{level0Count}}/{{allLevel0Count}}</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level 0 )</p>
          </div>
          <div class="progressBlock__item">
            <p class="progressBlock__head">{{level1Count}}/{{allLevel1Count}}</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level 1 )</p>
          </div>
          <div class="progressBlock__item">
            <p class="progressBlock__head">{{level2Count}}/{{allLevel2Count}}</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level 2 )</p>
          </div>
        </div>
      </div>
      <div  class="infoBlock">
        <div  class="infoBlock__head">Explore all elements</div>
        <div  class="infoBlock__text">Select element what you want to learn or mark element you already know.</div>
        <div class="elementsBlock mobile">
          <div class="elementCard" *ngFor="let item of items;">
            <div class="elementCard__video" [style]="{'background-image': 'url(' + item.photo + ')'}"></div>
            <p class="elementCard__title">{{item.name}}</p>
            <p class="elementCard__text">{{item.category}}</p>
            <div class="elementCard__link">
              <a [routerLink]="['/catalog', item.id]"> See Element </a>
              <div>{{item.level}}</div>
            </div>
          </div>
        </div>
        <button class="primary-btn infoBlock__btn" role="button" routerLink="/catalog">Let's go</button>
      </div>
      <div  class="lastBlock">
        <div class="lastBlock__head">Last learnt</div>
        <div class="lastBlock__itemsWrap">
          <div class="lastBlock__items">
            <div class="lastBlock__item" *ngFor="let item of lastLearnt;">
              <div class="lastBlock__itemPhotoInfo">
                <div class="lastBlock__itemPhoto" [style]="{'background-image': 'url(' + item.photo + ')'}"></div>
                <div class="lastBlock__itemInfo">
                  <div class="lastBlock__itemTitle">{{item.name}}</div>
                  <div class="lastBlock__itemText">{{item.level}}</div>
                </div>

              </div>
              <div class="lastBlock__itemName">{{item.category}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="right-cont">
      <div class="pictureBlock">
        <div class="pictureBlock__picture">
        </div>
      </div>
      <div class="elementsBlockSpace">
        <div class="elementsBlock desktop">
          <div class="elementCard" *ngFor="let item of items;">
            <div class="elementCard__video" [style]="{'background-image': 'url(' + item.photo + ')'}"></div>
            <p class="elementCard__title">{{item.name}}</p>
            <p class="elementCard__text">{{item.category}}</p>
            <div class="elementCard__link">
              <a [routerLink]="['/catalog', item.id]"> See Element </a>
              <div>{{item.level}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="categoriesBlock" *ngIf="false">
        <div class="categoriesBlock__inner">
          <div class="categoriesBlock__circles">
            <div class="categoriesBlock__circle one"><span>100%</span></div>
            <div class="categoriesBlock__circle two"><span>0%</span></div>
            <div class="categoriesBlock__circle three"><span>0%</span></div>
          </div>
          <div class="categoriesBlock__text">
            <p class="one">Pole Dance</p>
            <p class="two">Cheerleading</p>
            <p class="three">Yoga</p>
          </div>
        </div>

      </div>

  </div>
</div>
