<div class="container">
  <app-sidebar></app-sidebar>
  <div class="left-container">
    <h3>Dashboard</h3>
    <div class="left-inner">
      <div class="progressBlock">
        <div class="progressBlock__title">Your Progress</div>
        <div class="progressBlock__items">
          <div class="progressBlock__item">
            <p class="progressBlock__head">23/114</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level Intro )</p>
          </div>
          <div class="progressBlock__item">
            <p class="progressBlock__head">23/114</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level Intro )</p>
          </div>
          <div class="progressBlock__item">
            <p class="progressBlock__head">23/114</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level Intro )</p>
          </div>
          <div class="progressBlock__item">
            <p class="progressBlock__head">23/114</p>
            <p class="progressBlock__text">Pole Dance</p>
            <p class="progressBlock__textSmall  progressBlock__text">( Level Intro )</p>
          </div>
        </div>
      </div>
      <div  class="infoBlock">
        <div  class="infoBlock__head">Explore all elements</div>
        <div  class="infoBlock__text">Select element what you want to learn or mark element you already know.</div>
        <button class="primary-btn infoBlock__btn">Let's go</button>
      </div>
      <div  class="lastBlock">
        <div class="lastBlock__head">Last learnt</div>
        <div class="lastBlock__itemsWrap">
          <div class="lastBlock__items">
            <div class="lastBlock__item">
              <div class="lastBlock__itemPhotoInfo">
                <div class="lastBlock__itemPhoto"></div>
                <div class="lastBlock__itemInfo">
                  <div class="lastBlock__itemTitle">Handspring</div>
                  <div class="lastBlock__itemText">Level 2</div>
                </div>

              </div>
              <div class="lastBlock__itemName">Pole Dance</div>
            </div>
            <div class="lastBlock__item">
              <div class="lastBlock__itemPhotoInfo">
                <div class="lastBlock__itemPhoto"></div>
                <div class="lastBlock__itemInfo">
                  <div class="lastBlock__itemTitle">Jade</div>
                  <div class="lastBlock__itemText">Level 2</div>
                </div>

              </div>
              <div class="lastBlock__itemName">Pole Dance</div>
            </div>
            <div class="lastBlock__item">
              <div class="lastBlock__itemPhotoInfo">
                <div class="lastBlock__itemPhoto"></div>
                <div class="lastBlock__itemInfo">
                  <div class="lastBlock__itemTitle">Inverted V</div>
                  <div class="lastBlock__itemText">Level 0</div>
                </div>

              </div>
              <div class="lastBlock__itemName">Pole Dance</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="right-cont">
      <div class="pictureBlock">
        <div class="pictureBlock__picture">
        </div>
      </div>
      <div class="elementsBlockSpace">
        <div class="elementsBlock">
          <div class="elementCard">
            <div class="elementCard__video"></div>
            <h5 class="elementCard__title">Brass Monkey</h5>
            <p class="elementCard__text">Pole Dance</p>
            <div class="elementCard__link">
              <a>See Element</a>
              <div>Level 2</div>
            </div>
          </div>
          <div class="elementCard blue">
            <div class="elementCard__video"></div>
            <h5 class="elementCard__title">Brass Monkey</h5>
            <p class="elementCard__text">Pole Dance</p>
            <div class="elementCard__link">
              <a>See Element</a>
              <div>Level 2</div>
            </div>
          </div>
          <div class="elementCard">
            <div class="elementCard__video"></div>
            <h5 class="elementCard__title">Brass Monkey</h5>
            <p class="elementCard__text">Pole Dance</p>
            <div class="elementCard__link">
              <a>See Element</a>
              <div>Level 2</div>
            </div>
          </div>
          <div class="elementCard blue">
            <div class="elementCard__video"></div>
            <h5 class="elementCard__title">Brass Monkey</h5>
            <p class="elementCard__text">Pole Dance</p>
            <div class="elementCard__link">
              <a>See Element</a>
              <div>Level 2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="categoriesBlock">
        <div class="categoriesBlock__inner">
          <div class="categoriesBlock__circles">
            <div class="categoriesBlock__circle one"><span>100%</span></div>
            <div class="categoriesBlock__circle two"><span>0%</span></div>
            <div class="categoriesBlock__circle three"><span>0%</span></div>
          </div>
          <div class="categoriesBlock__text">
            <p class="one">Pole Dance</p>
            <p class="two">Cheerleading</p>
            <p class="three">Yoga</p>
          </div>
        </div>

      </div>

  </div>
</div>
