
<div class="container">
  <app-sidebar></app-sidebar>
  <div class="right-container">
    <h3>Settings</h3>
    <form class="createElement__form">
      <mat-form-field class="example-full-width">
        <mat-label>Username: </mat-label>
        <input matInput placeholder="Username" value="DASC">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email: </mat-label>
        <input matInput placeholder="Email" value="dasc@ya.ru">
      </mat-form-field>
      <div class="example-full-width">
        <mat-label>Media</mat-label>
        <input type="file"/>
      </div>
      <div class="createElement__mediaRow">
        <div class="createElement__media"></div>
      </div>
      <button class="primary-btn">Save</button>
    </form>
  </div>
</div>

