
<div class="container">
  <app-sidebar [ngClass]="{'opened': isMenuOpened}"></app-sidebar>
  <div class="right-container">
    <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
    <h3>Settings</h3>
    <form class="createElement__form" [formGroup]="userForm">
      <mat-form-field class="example-full-width">
        <mat-label>Username: </mat-label>
        <input matInput formControlName="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email: </mat-label>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
      <div class="example-full-width">
        <mat-label>Photo</mat-label>
      </div>
      <div class="createElement__mediaRow">
        <app-file-upload formControlName="photo" [inpName]="'image'"></app-file-upload>
      </div>
      <button role="button" class="primary-btn" (click)="updateUser()">Save</button>
    </form>
  </div>
</div>

