
.createElement {
  &__mediaRow {
    display: flex;
    margin-top: 20px;
  }
  &__media {
    margin-right: 20px;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: #ffe7cb;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    mat-form-field {
      width: 70%;
      margin-bottom: 20px;
    }

    button {
      margin-top: 30px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .createElement__form {
    padding: 20px;
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
  .createElement__media {
    width: 100px;
    height: 80px;
  }

}
