<div class="container">
  <app-sidebar [ngClass]="{'opened': isMenuOpened}"></app-sidebar>
  <div class="right-container">
    <div (click)="openMenu()" class="menuIcon"><mat-icon>menu</mat-icon></div>
    <h3>Instructors Hours</h3>
    <div class="hours">
      <div class="filtersRow">
        <div class="filtersRow__item">
          <p>Instructor: </p>
          <mat-form-field>
            <mat-select>
              <mat-option>All</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filtersRow__item">
          <p>Month: </p>
          <mat-form-field>
            <mat-select>
              <mat-option>May</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button role="button" class="primary-btn">Search</button>
      </div>
      <div class="hours__listWrap">
        <div class="hours__list">
          <div class="hours__info">
            <div class="hours__infoMonth">May</div>
            <div class="hours__infoCount">23</div>
          </div>
          <div class="hours__listItems">
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
            <div class="hours__listItem">
              <div>03.05.2022</div>
              <div>Pole Dance, Exotic</div>
              <div>4 Hours</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

